

<!-- New starts -->
<div class="container  w-100 m-auto">
	<div class="row ">
	  <div class="col m-auto Login_side"></div>
	  <div class="col">
		<!-- <div class="row " > -->
		  <div class="col-12"><img src="/assets/images/teamwork.png" alt="" style=" width: 10%; margin-top: 10%; margin-left:18%;"></div>

		  <div class="col-12">
		
			<form action="/auth/login" method="POST" class="w-50 bg-white" style="min-width: 320px;border-radius: 2rem; margin: 0;">
				<h3 class="text-center mb-3" style="margin-top: 5%;font-family: 'Sono', sans-serif;">User Login</h3>
				<div style="margin:5%" style="font-family: 'Cinzel', serif;">
				<div style="padding: 0 5%; margin-bottom: 2rem;" >
					<label for="email" class="form-label"><i class="fa-solid fa-user"></i>&nbsp; Email</label>
					<input type="email" name="email" class="form-control" id="email" placeholder="Enter email.." required autofocus>
				</div>
		
				<div class="mb-3 m-0" style="padding:0 5%">
					<label for="password" class="form-label"><i class="fa-solid fa-key"></i>&nbsp; Password</label>
					<input type="password" name="password" class="form-control" id="password" placeholder="Enter password.." required>
				</div>
			</div>
				
				<button type="submit" class="btn d-block m-auto mt-4">Submit</button>
				
				<div class="mt-3" style="text-align: center;">
					<span>Don't have an account?</span>
					<a href="/auth/signup">Signup here</a>
				</div>
			</form>
		  </div>
		</div>
	  <!-- </div> -->
	</div>
  </div>



