<div id="sidebar">
	<div style="text-align: center;"><a href="/admin/profile"><img src="/assets/images/employee.png" alt="" style="width: 45%;margin-top: 10%;margin-bottom: 1%;"></div></a>
	
	<ul id="sidebar-nav">
		<li  style="margin-top: 2%;"><%= currentUser.firstName %> <%= currentUser.lastName %></li><br>
		<li  style="margin-top: 2%;"><a href="/admin/dashboard"><img src="/assets/images/speedometer.png" alt="" style="width:10%">&nbsp; Dashboard</a></li>
		<li  style="margin-top: 2%;"><a href="/admin/donations/pending"><img src="/assets/images/Pending.png" alt="" style="width:10%">&nbsp;&nbsp; Pending Donations</a></li>
		<li  style="margin-top: 2%;"><a href="/admin/donations/pendingfood"><img src="/assets/images/diet.png" alt="" style="width:10%">&nbsp;&nbsp;Food Donations</a></li>
		<li  style="margin-top: 2%;"><a href="/admin/donations/pendingcloths"><img src="/assets/images/laundry.png" alt="" style="width:10%">&nbsp;&nbsp;Cloths Donations</a></li>
		<li  style="margin-top: 2%;"><a href="/admin/donations/pendingstationary"><img src="/assets/images/stationary.png" alt="" style="width:10%">&nbsp;&nbsp;Stationary Donations</a></li>
		<li  style="margin-top: 2%;"><a href="/admin/donations/pendingtoys"><img src="/assets/images/storage-box.png" alt="" style="width:10%">&nbsp;&nbsp;Toys Donations</a></li>
		<li  style="margin-top: 2%;"><a href="/admin/donations/previous"><img src="/assets/images/packing.png" alt="" style="width:10%">&nbsp;&nbsp; Donations</a></li>
		<li  style="margin-top: 2%;"><a href="/admin/agents"><img src="/assets/images/food-donation.png" alt="" style="width: 10%;">&nbsp; Agents</a></li>
		<li  style="margin-top: 2%;"><a href="/admin/campaignrequest"><img src="/assets/images/ads.png" alt="" style="width: 10%;">&nbsp; Post Campaign</a></li>
		<li  style="margin-top: 2%;"><a href="/admin/ourcampaigns"><img src="/assets/images/email-marketing.png" alt="" style="width: 10%;">&nbsp; My Campaign</a></li>
        <li  style="margin-top: 2%;"><a href="/admin/profile"><img src="/assets/images/user.png" alt="" style="width:10%">&nbsp;&nbsp;Profile</a></li>
		<li><a href="/auth/logout" style="padding-left: 0; color:red; font-family: 'Righteous', cursive; font-size:x-large;"><img src="/assets/images/shutdown.png" alt="" style="width:10%">&nbsp;&nbsp;Logout</a></li>
	</ul>
</div>