<div id="sidebar">
	<div style="text-align: center;"><a href="/donor/profile"><img src="/assets/images/man.png" alt="" style="width: 40%;margin-top: 10%;margin-bottom: 1%;"></div></a>
	<ul id="sidebar-nav">
		<li><%= currentUser.firstName %> <%= currentUser.lastName %></li>
		<li style="margin-top: 0;"><a href="/donor/dashboard"><img src="/assets/images/speedometer.png" alt="" style="width:10%">&nbsp; Dashboard</a></li>
		<li style="margin-top: 2%;"><a href="/donor/donate"><img src="/assets/images/DONATE.png" alt="" style="width:13%">&nbsp;Donate</a></li>
		<li style="margin-top: 2%;"><a href="/donor/donations/pending"><img src="/assets/images/Pending.png" alt="" style="width:10%">&nbsp;&nbsp; Pending Donations</a></li>
		<li style="margin-top: 2%;"><a href="/donor/donations/previous"><img src="/assets/images/packing.png" alt="" style="width:10%">&nbsp;&nbsp;Previous Donations</a></li>
		<li style="margin-top: 2%;"><a href="/donor/viewcampaigns"><img src="/assets/images/campaign.png" alt="" style="width:10%">&nbsp;&nbsp;View Campaigns</a></li>
		<li style="margin-top: 2%;"><a href="/donor/profile"><img src="/assets/images/user.png" alt="" style="width:10%">&nbsp;&nbsp;Profile</a></li>
		<li><a href="/auth/logout" style="padding-left: 0; color:red; font-family: 'Righteous', cursive; font-size:x-large;"><img src="/assets/images/shutdown.png" alt="" style="width:10%">&nbsp;&nbsp;Logout</a></li>
	</ul>
</div>