
<div class="container  w-100 m-auto">
	<div class="row">
		<div class="col-6 About-us" ></div>
		<div class="col-6">
			<div style="font-size: xx-large; margin-top: 2em; text-align: center; font-family: 'Abril Fatface', cursive;color:#fe4e68;">ABOUT US</div>
			<div class="col" style="padding-left: 6em; margin-top: 2rem;font-family: 'Segoe UI', Tahoma, sans-serif;">
				<p>DoNation is an initiative that revolves around 
					helping the needy by connecting NGOs and common people. The donors shall be able to see a 
					plurality of options by which they can donate. The NGOs will get the details of the people 
					wishing to donate via this platform and thus a network is established between donors, people 
					who aid the donors in donating (NGOs).</p> <p>DoNation aims to bring about transparency, 
						clarity and swiftness in the process of donation thus aiming to mitigate prevailing issues in whatever manner it is possible for us to do so. </p>
					</p> </div>	
	</div>
</div>