<div class="container  w-100 m-auto">
	<div class="row">
		<div class="col-6 contact" ></div>
		<div class="col-6">
			<div style="font-size: xx-large; margin-top: 2em; text-align: center; font-family: 'Abril Fatface', cursive;color:#fe4e68;">CONTACT US</div>
			<div class="col" style="padding-left: 6em; margin-top: 2rem; font-family: 'Segoe UI', Tahoma, sans-serif;">
				<ul class="fs-5">
					<li>For any concerns, please call at our toll free numbers between 9 AM to 6 PM:</li>
					<ul >
						<li>1500-393-455 (within India)</li>
						<li>1500-393-455 (within India)</li>
					</ul>
					<li style="margin-top: 1rem;">You can also visit our offices and to get insights of how our agents serve food at different places.</li>
					<ul>
						<li>XYZ Nagar, Indore</li>
						<li>XYZ Vihar, Indore</li>
					</ul>
					<li style="margin-top: 1rem;">You can also email your suggestions and feedback at <mark>xyz@gmail.com</mark></li>
				</ul>
		</div>
	</div>
</div>