<div class="container  w-100 m-auto">
	<div class="row">
		<div class="col-6 mission" ></div>
		<div class="col-6">
			<div style="font-size: xx-large; margin-top: 2em; text-align: center; font-family: 'Abril Fatface', cursive;color:#fe4e68;">OUR MISSION</div>
			<div class="col" style="padding-left: 6em;font-family: 'Segoe UI', Tahoma, sans-serif;">
			<p style="margin-top: 2em;">Food and cloths are one of the basic necessities of humans. Also because the number of 
				underprivileged children/students in India is significant , commodities like stationary and toys 
				are also a major requisites for them.</p>
				<p>Despite phenomenal industrial and economic growth and while India produces sufficient food 
					to feed its population, it is unable to provide access to food to a large number of people. 
					According to FAO estimates in ‘The State of Food Security and Nutrition in the World, 2020 
					report, 189.2 million people are undernourished in India. By this measure 14% of the 
					population is undernourished in India. According to the latest survey, 1.3 billion tons of food 
					is thrown as waste every year.Additionally, one-third of the food consumed is stated as leftovers.</p>
					<p> The main Goal of DoNation is to reduce the amount of  wastage in general be it 'Food' , 'Cloths' or other commodities. Our mission is to create a transparent system for all kinds of donations.</p>
				</div>	
		</div>
	</div>
</div>


