
  <div class="row section2">
    <div class="col-lg-6"  >
      <p style="padding-top: 2.5rem ;"><h2 class="Quote1" style="padding-top: 1rem;padding-right: 100px;padding-left: 7rem;font-weight: 1000;">Be The <span style="color:#fe4e68">Reason</span></h2>
      <h2 class="Quote" style="padding-left:7rem ;font-weight: 600;">Someone is <span style="color:#fe4e68;font-family: 'Marhey', 'cursive';">Happy</span> Today!</h2>
      <p style="padding-left:7rem;padding-right:10rem ; font-size: 1rem; padding-top: 2rem;">Give to charity and help the society . Provide the underprivileged with clothes , food , toys and many more .Help donate toys in order to help provide the children with joy in their lives. Help donate Books in order to help provide the children Knowledge to uplift Themselves. Help in providing food, so that there is one less empty stomach.

      </p>
      <button onclick="location.href='/auth/login'" type="button" class="btn btn-outline-primary" style="margin-left: 8rem;margin-top: 1rem;" ><i class="fa-solid fa-bowl-food"></i>&nbsp; Donate Now</button>
    
    </p>
    </div>
    <div class="col-lg-6" >
		<img class="donation_home" src="/assets/images/Donation_home.jpg"></div>
		<a  style="text-align: right; font-size: x-small; padding: 0;" href="https://www.freepik.com">designed by Pch.vector - Freepik.com</a>
	</div>
  </div>

